<html>

<body>
        <h1> Are you sure you want to delete {{i.name}}? </h1>

        <form action="{{ url_for('deleteMenuItem', restaurant_id=i.restaurant_id, menu_id=i.id)}}" method = 'post'>
        
        <input type='submit', value = 'Delete'>
        
        
        
        
        </form>
        
        <a href = "{{ url_for('restaurantMenu', restaurant_id = i.restaurant_id)}}"> Cancel </a>



<!-- <h1> Are you sure you want to delete the following item? </h1> -->

<!-- <form action="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=i.id )}}" method = 'post'>

    <p>Name:</p>
    
    <input type='text' size='30' name='name' placeholder= '{{i.name}}'>
    
    <input type='submit' value='Delete'>

    <a href = '{{url_for('restaurantMenu', restaurant_id=i.restaurant_id)}}'>Cancel </a> 
    
    </form> -->

</body>

</html>