<h1>New Campground</h1>
<h4>Create a new campground with this form</h4>

<form action="#" method = 'post'>
    <label>Campground Name</label>
    <p><input type='text' name='name' placeholder="Enter campground name"></p>
    <label>Campground Experience</label>
    <p><input type ='text' name='experience'></p>
    <label>Campground Description</label>
    <p><textarea rows='4' cols='50' name='description'></textarea></p>
    <input type='radio' name='category' value='Will definitely come back'>Will definitely come back <br>
    <input type ='radio' name='category' value='Might come back'>Might come back <br>
    <input type ='radio' name='category' value='Will not come back'>Will not come back <br><br>
    <input type='submit' value='Create Campground'>
</form>    


	



