<h1>{{campground.name}} Reviews</h1>

<!--<h2>{{campground.id}}</h2>-->

{% for item in items %}
        <!--<h4>{{item.id}}</h4>-->
        <h4>{{item.experience}}</h4>
        <h4>{{item.description}}</h4>
        <h4>{{item.category}}</h4>

       <p><a href = "{{url_for('editSiteReview', campground_id = campground.id, site_id=item.id)}}">Edit Review</a></p>
       <p><a href = "{{url_for('deleteSiteReview', campground_id = campground.id, site_id=item.id)}}">Delete Review</a></p>

        {% endfor %}

        
        <p> There currently aren't any reviews <p>
        <a href = "{{url_for('newSiteReview', campground_id = campground.id )}}">Add a review</a>
                     
